<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="eCommerce project sample in django">
    <title>Mobile Zone</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/static/shop/js/jquery.min.js"></script>
    <link href="/static/shop/css/bootstrap.min.css" rel="stylesheet">
    <style>
    #logo{
    height: 30px;
    width: 30px;
    }
    #image{
    height: 200px;
    width: 200px;
    }
    .content{
        border-left: 2px solid black;
        padding-left: 20px;
    }
</style>
   <script>
$(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable div.card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</head>

<body style="padding-top:70px">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        {% load static %}
        <a class="navbar-brand" href="/"><img id="logo" class="d-block img-fluid" src="{% static 'shop/logo.png' %}" alt="Mobile Zone"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order_details">My Orders</a>
                </li>
                <li class="nav-item dropdown">
                    {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/cart">My Cart</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                        {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowns" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdowns">
                            <a class="dropdown-item" href="/login">Login</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/signup">Signup</a>
                        {% endif %}
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0 mr-4" method="GET" action="">
                <input class="form-control mr-sm-2" name="q" type="text" id="myInput" placeholder="Search by name" aria-label="Search" value="{{ request.GET.q }}">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" disabled>Search</button>
            </form>

            <a href="/cart" class="btn btn-outline-success my-2 my-sm-0">
                <span class="glyphicon">🛒</span>
                <span id="cart_count">

                </span>
            </a>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
    {% block main_content %}
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Mobile Zone</h1>
                <div class="list-group">
                    {% block categories %}

                    {% endblock %}
                </div>
            </div>
            <div class="col-lg-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-light">
        <div class="container text-muted">
            <p class="m-0 text-center">Have a happy {% now "Y" %}</p>
        </div>
    </footer>

    <!-- JavaScripts -->
    <script src="/static/shop/js/bootstrap.min.js"></script>
    <script src="/static/shop/js/bootstrap.bundle.min.js"></script>
    {% block jscode %}{% endblock %}
</body>

</html>
